%ul{:class => 'breadcrumb'}
	%li
		%a{:href => '/'} MongoDB
		(Home) 
		\/
	%li{:class => 'active'}= params[:database] + ' (DB)'

%table{:class => 'table'}
	- @collnames.each do |coll|
		%tr
			%td
				%a{:href => '/' + @dbname + '/' + coll}= coll
	%tr
		%td