%strong
	Document inspector for _id: 
	= params[:documentid]
	, under
	%a{:href => '/' + params[:database] + '/' + params[:collection]}= params[:collection]
	%br
= @length
- @doc.keys.each do |k|
	=k 
	%strong :  
	=@doc[k]
	%br
	

